<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
    <title>REVV.</title>
</head>
<body>
    <form action='/revv/<%=item._id%>?_method=PUT' method='POST'>
        <input type='text' name='title' value='<%=item.title%>'>
        <input type='text' name='entry' value='<%=item.entry%>'>
        <input type='text' name='business' value='<%=item.business%>'>
        <button type="submit">delete</button>
        <input type="button" value="update revv.">
    </form>
</body>
</html>