<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new.css">
    <title>Revv</title>
</head>
<body>
    <h1>REVV.</h1>
    <form action="/revv" method="post">
        <input class= 'title' type='text' name='title' placeholder='title' required >
        <input class= 'handle' type='text' name='business' placeholder='handle' required >
        <input class= 'image' type='string' name='img' placeholder="add image URL" required>
        <textarea name="entry" id="styled"
          rows="3" cols="25" placeholder="add a description"></textarea>
        <input class= 'button' type="submit" value="add revv.">
        
    </form>
    
</body>
<footer>2021  t.fore &copy </footer>
</html>