<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new.css">
    <title>Revv</title>
</head>
<body>
    <form action="/revv" method="post">
        <input class= 'title' type='text' name='title' placeholder='title' required >
        <textarea name="entry"
          rows="5" cols="33">
        add a description
        </textarea>
        <input type='text' name='business' placeholder='handle' required >
        <input type='string' name='img' placeholder="add image" required>
        <input type="submit" value="add revv.">
    </form>
    
</body>
</html>

<!-- <textarea rows="2" cols="25" placeholder="This is the default text"></textarea>// use this for review entry instead of input tag? -->