<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new.css">
    <title>Revv</title>
</head>
<body>
    <form action="/revv" method="post">
        <input type='text' name='title' placeholder='title'>
        <input id='textbox'type='textarea' name='entry' placeholder='review'>
        <input type='text' name='business' placeholder='handle'>
        <input type="submit" value="add revv.">
    </form>
    
</body>
</html>

<!-- <textarea rows="2" cols="25" placeholder="This is the default text"></textarea>// use this for review entry instead of input tag? -->