<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/show.css">
    <title>Revv.</title>
</head>
<body>
    <h1 class="title"><%=item.title%></h1>
    <p><%=item.entry%></p>
    <p><%=item.business%></p>
    <a href='/revv/<%=item._id%>/edit'>edit.</a>
    <a href='/revv'>return.</a>
</body>
</html>