*{
    box-sizing: border-box;
    margin: 0;
    padding: 10px ;
}
nav {
    background-color: burlywood;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 50%;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: url('https://images.unsplash.com/photo-1460411794035-42aac080490a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    flex-grow: 1;
   }

div {
    justify-content: center;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    list-style-type: none;
    /* padding: 10px; */
    margin:auto;
    justify-content: center;
    

 }
  
 .card {
     display: flex;
     flex-direction: column;
     width: 30%;
     padding: 10px;
     height: 400px;
     margin: 5px;
     border-radius: 25%;
     position: sticky;
        
 }

 img {
  border-radius: 25%; 
  width: auto;
  max-width: 400px;
  height: auto;
  max-height: 350px;
}

a{
    padding: 0px;
}
a:link {
    color: black;
    text-decoration: none;
    font-size: 25px;
}
a:visited {
    color: rgb(182, 139, 22);
    text-decoration: none;
}